.festi {
  width: 45%;
  height: 50%;
  background-image: url('../images/festival-promo.png');
  min-height: 900px;
  float: left;
  overflow: hidden;

  &__copy {
    padding: 1rem;
  }
}

.vol {
  border: 1px solid green;
  width: 45%;
  float: left;
  clear: right;
}

.photo {
  border: 1px solid yellow;
  width: 45%;
  float: left;
}
