.festi {
  border: 1px solid red;
  width: 45%;
  float: left;
  overflow: hidden;
}

.vol {
  border: 1px solid green;
  width: 45%;
  float: left;
  clear: right;
}

.photo {
  border: 1px solid yellow;
  width: 45%;
  float: left;
}
