.festi {
  padding-top: 2rem;
  width: 45%;
  height: 50%;
  background-image: url('../images/festival-promo.png');
  min-height: 68rem;
  float: left;
  overflow: hidden;

  &__title {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  &__subhead {
    padding-left: 2rem;
    margin-bottom: 0.25em;
  }

  &__copy {
    padding: 0 2rem;
    margin-top: 0;
    line-height: 2.5rem;
  }

  &__cta {
    padding: 2rem;
  }
}

.vol {
  width: 55%;
  background-image: url('../images/vol-promo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 545px;
  float: left;
  clear: right;
}

.photo {
  width: 55%;
  background-image: url('../images/photo-promo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 547px;
  float: left;
}
