.hero {
  display: flex;

  &__header-image {
    position: relative;
    margin: 0;
    width: 100%;
  }

  &__tagline {
    position: absolute;
    top: 50px;
    left: 0;
  }

  &__cta {
    position: absolute;
  }
}
