.hero {
  display: flex;
  
  &__header-image {
    position: absolute;
    max-width: 100%;
    height: auto;
  }

  &__tagline {
    position: relative;
    top: 200px;
    left: 0;
    width: 100%;
  }

  &__button {
    @import "button";
  }
}
