.hero {
  display: flex;

  &__header-image {
    // position: absolute;
    width: 100%;
  }

  &__tagline {
    position: relative;
    top: 200px;
    left: 0;
    width: 100%;
  }

  &__button {
    @import "button";
  }
}
