@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

@mixin button {
  background-color: #a1a1a1;
  color: #fff;
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

button {
  @include button;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main-nav {
  margin: 0 auto;
  background: #a1a1a1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}

nav li {
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.main-nav a.hover {
  text-decoration: underline;
  color: #000;
}

.main-nav a.active {
  text-decoration: underline;
  color: #000;
}

.home-placeholder {
  display: block;
  width: 100%;
}

.main-tagline {
  position: absolute;
  float: right;
}
