 @import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
}
@mixin button {
  border-radius: 2.5rem;
  background-color: #13d7e8;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  font-size: 1rem;
body {
  margin: 0 auto;
  padding 0 20px;
  font-family: 'Raleway', sans-serif;
}
